@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap');

body{
    font-family:"Montserrat";
    background-color: lightcyan;
    box-sizing: border-box;
    
}
#title{
    background-image: url(/images/Homepage-banner_01.png) ;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    height: 100vh;
}

/*Nav Bar*/
.navbar{
    padding: 0 0 4.5rem;;
}
.navbar-brand{
    font-family: "ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
    list-style: none;
    color:white;
}
nav .navbar-nav li a{
    color: white !important;
    outline:0;
    }
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    color:white;
}
.fa-1x {
    font-size: 1.5rem;
}
 .navbar-toggler.toggler-example {
    cursor: pointer;
}
 .dark-blue-text {
    color: white;
}
i:hover {
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 255, 0, 0.1);
    cursor: pointer;
}
h1{
    font-family: "Montserrat";
  
    font-size:3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
    position: relative;
    margin:0;
    text-align: center
}
#logo-nav i{
    margin:10px;  
}

#logo-nav p{
    margin-left:90px;
}
#logo-nav{
    display:flex;
}
p#headline{
    text-align: center;
}

#headline{
    font-size: 24px;
}
.btn{
border-radius:20px;
margin:20px;
}

#logo{
    width:100px;
}

/*Care Family*/
#care-family{
    background-image: url(/images/footer_bg_02.png) ;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    height: 100vh;
}
#care-family-top{
    margin-right:5px;
    border:2px solid black;
}
#care-family-bottom{
    margin-right:0px;
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
}

#care-family-bottom div, #care-family-bottom form{
    flex:3;
}
.image-div {
    position: relative;
}
#form-signup{
    width: 50vw;
    margin-left:50px;
   
}
#form-signup input{
    width:150px;
    
    text-align:center;
}
.form-check-input{
    text-align:left;
}

  
.text-block {
    position: absolute;
    bottom: 170px;
    right: 200px;
    background-color: white;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
}
#be-part-care-family{
    text-align:left;
    width: 400px;
    margin-right:0px;
}
.circle {
    width: 300px;
    height:300px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    line-height: 250px;
    text-align: center;
    background: darkblue
  }

/*Testimonials*/
#testimonials{
    padding: 7% 15%;
    text-align:center;
    background-color: rgb(141, 141, 204);
    color: #fff;
}

h2{
    font-weight:bold;
    font-size:3rem;
    line-height:1.5;
}
.testimonial-image{
    width:100%;
}
.carouselExampleIndicators{
    color:blue;
}

.carousel-item{
    padding: 7% 15%;
}

.carousel-inner{
    text-align:center;
}

/*Photos*/
.photo-size{
   width:19%;
   margin:7px;
   padding:5px;
} 

/*Footer*/

footer{
    background-color: lightcyan;
    padding-top:75px;
    margin:50px;
    color:grey;
    
}
#footer-content{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly
}
#contact-info{
    width: 300px;
}
